<h1>Карточка товара</h1>
<div style="border: 1px solid silver; padding: 20px">
    <b>Тип устройства</b> <p>@ViewBag.DeviceDataItem.DeviceType</p>
    <b>Серийный номер</b> <p>@ViewBag.DeviceDataItem.SerialNumber</p>
    <b>Статус</b> <p>@ViewBag.DeviceDataItem.Status</p>
    <b>Адресс</b> <p>@ViewBag.DeviceDataItem.Address</p>
</div>
